@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
@font-face {
  font-family: 'RobotoSlab';
  src: url("../Fonts/RobotoSlab-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: 'RobotoSlab';
  src: url("../Fonts/RobotoSlab-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: 'RobotoSlab';
  src: url("../Fonts/RobotoSlab-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'NeutraText';
  src: url("../Fonts/NeutraText-Light.otf");
}

@font-face {
  font-family: 'NeutraTextBook';
  src: url("../Fonts/NeutraText-Book.otf");
}

@font-face {
  font-family: 'NeutraTextDemi';
  src: url("../Fonts/NeutraText-Demi.otf");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

:root {
  --white-color: #f2f2f2;
  --black-color: #000000;
  --green-color: #6ecdb2;
  --grey-color: #323e48;
  --robotoSlab-font: 'RobotoSlab';
  --NeutraText-font: "NeutraText";
}

body {
  background-color: var(--white-color);
}

h1, .h1 {
  font-family: 'NeutraTextDemi';
  font-size: 60px;
  line-height: 72px;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  word-break: break-word;
  color: var(--grey-color);
}

h2 {
  font-family: 'NeutraTextBook';
  font-size: 50px;
  line-height: 54px;
  color: var(--black-color);
}

a {
  text-decoration: none;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

button:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.margin-distances {
  margin-top: 80px;
}

.x-offset {
  padding: 0px 100px;
}

@media screen and (max-width: 991px) {
  .x-offset {
    padding: 0px 70px;
  }
}

@media screen and (max-width: 480px) {
  .x-offset {
    padding: 0px 20px;
  }
}

.sitelogo {
  width: 550px;
}

.navbar {
  padding: 80px 100px 0px 100px;
}

.navbar.active {
  background-color: var(--white-color);
  padding: 30px 80px;
}

.navbar.active .sitelogo {
  display: none;
}

.navbar .activelogo {
  display: none;
}

.navbar.active .activelogo {
  display: block;
  width: 100px;
}

.navbar .nav-item .nav-link {
  color: var(--green-color);
  margin: 0px 20px;
  font-weight: 400;
  font-family: var(--robotoSlab-font);
  font-size: 25px;
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
}

.navbar .nav-item a.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: var(--black-color);
}

.languagesDrop {
  font-family: var(--robotoSlab-font);
}

.languagesDrop .langButton {
  border: none;
  background: transparent;
  color: var(--grey-color);
  font-weight: 400;
  font-size: 25px;
}

.languagesDrop .dropdown-toggle::after {
  display: none;
}

.languagesDrop .langButton:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}

.languagesDrop .dropdown-item {
  color: var(--grey-color);
  background: transparent !important;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
}

.languagesDrop .dropdown-menu {
  left: -15px !important;
  top: 40px !important;
  min-width: 4rem;
}

.languagesDrop .dropdown-menu.show {
  border: none;
  background: transparent;
}

.menu-wrap {
  width: 25%;
}

.mobileMenu {
  padding: 50px 30px;
}

.mobileMenu.active {
  background-color: var(--white-color);
  padding: 20px 30px;
}

.mobileMenu.active .sitelogo {
  display: none;
}

.mobileMenu.active .mobileLogo {
  display: none;
}

.mobileMenu .activelogo {
  display: none;
}

.mobileMenu.active .activelogo {
  display: block;
  width: 60px;
}

.mobileMenu .tel img {
  width: 20px;
  position: absolute;
  top: 70px;
  left: 70px;
}

.mobileMenu.active .tel img {
  top: 40px;
}

.mobileMenu.active .menu-wrap .hamburger {
  top: 20px;
}

.mobileMenu.active .menu-wrap .toggler {
  top: 20px;
}

.mobileMenu .languages {
  width: 25%;
}

.mobileMenu .languagesDrop {
  float: right;
}

.menu-wrap .toggler {
  position: absolute;
  top: 50px;
  left: 10px;
  z-index: 3;
  width: 60px;
  height: 60px;
  cursor: pointer;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 50px;
  left: 10px;
  z-index: 2;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  width: 100%;
  height: 2px;
  background: var(--black-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
  z-index: 1;
}

.menu-wrap .toggler:checked ~ .menu > div {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--green-color);
  border-radius: 50%;
  width: 250vw;
  height: 250vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 1;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: var(--white-color);
  font-size: 34px;
  padding: 20px;
}

.menu-wrap .menu > div > div > ul > li a.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: var(--black-color);
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

@media screen and (min-width: 1200px) {
  .mobileMenu {
    display: none !important;
  }
}

@media screen and (max-width: 1450px) {
  .sitelogo {
    width: 450px;
  }
}

@media screen and (max-width: 1199px) {
  .navbar {
    display: none;
  }
  .languagesDrop .dropdown-menu {
    left: -15px !important;
    top: -10px !important;
  }
  .mobileLogo {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .mobileMenu {
    padding: 50px 0px;
  }
  .sitelogo {
    width: 300px;
  }
  .menu-wrap .toggler {
    top: 45px;
    left: 0px;
  }
  .menu-wrap .hamburger {
    top: 45px;
    left: 0px;
  }
  .mobileMenu .tel img {
    top: 65px;
    left: 50px;
  }
}

@media screen and (max-width: 480px) {
  .mobileMenu.active {
    padding: 20px 0px;
  }
  .sitelogo {
    display: none !important;
  }
  .mobileLogo {
    display: block;
    width: 180px;
  }
  .languagesDrop .dropdown-menu {
    left: 15px !important;
    top: -10px !important;
  }
}

@media screen and (max-width: 320px) {
  .mobileLogo {
    width: 120px;
  }
}

.cool-link {
  display: inline-block;
  text-decoration: none !important;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: var(--black-color);
  -webkit-transition: width .8s ease;
  transition: width .8s ease;
}

.cool-link:hover::after {
  width: 100%;
}

.welcomeText {
  margin-top: 280px;
}

.welcomeText p {
  font-size: 80px;
  line-height: 90px;
  color: #5b6670;
  font-family: var(--NeutraText-font);
  font-weight: 300;
  font-style: italic;
  padding: 0px 20px;
  margin-bottom: 100px;
}

.welcomeText .textAuthor {
  text-align: right;
  position: relative;
  left: -20%;
  font-size: 20px;
  color: #5b6670;
  font-family: 'NeutraTextBook';
}

@media screen and (max-width: 1199px) {
  .welcomeText {
    margin-top: 250px;
  }
}

@media screen and (max-width: 991px) {
  .welcomeText {
    margin-top: 200px;
  }
  .welcomeText p {
    font-size: 50px;
    line-height: 60px;
  }
}

@media screen and (max-width: 480px) {
  .welcomeText p {
    font-size: 40px;
    line-height: 50px;
  }
}

.projectBtn
.box {
  border: none;
  border-radius: 0;
  position: relative;
  /* cursor: pointer; */
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.projectsPage {
  margin: 280px 0px 100px;
}

.projectsPage .card {
  border: none;
  border-radius: 0;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: transparent;
}

.projectsPage .card:hover {
  border: none;
  border-radius: 0;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.projectsPage .card-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .8s;
  transition: .8s;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  visibility: hidden;
  opacity: .9;
  text-align: center;
  color: var(--black-color);
}

.projectsPage .card-text h1, .projectsPage .card-text .h1 {
  font-family: 'NeutraTextBook';
  font-size: 35px;
  line-height: 45px;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.projectsPage .card-text span {
  font-family: 'NeutraText';
  font-size: 25px;
}

.projectsPage .card:hover .card-text {
  visibility: visible;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  z-index: 10;
}

.projectsPage .card .card-body {
  padding: 0;
}

.projectsPage .card .card-body img {
  -webkit-transition: all linear .7s;
  transition: all linear .7s;
}

.projectsPage .card .card-body:hover img {
  opacity: .4;
}

.box:hover {
  z-index: 1;
}

.box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 40px 40px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  visibility: hidden;

}

.box:hover .content {
  visibility: visible;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  z-index: 10;
}

.box:hover img {
  opacity: .5;
}

.box .content .h1{
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 0;
}


.box .content span {
  font-family: 'NeutraText';
  font-size: 30px;
  color: var(--grey-color);
}

.box .imgBox::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  mix-blend-mode: multiply;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.box .imgBox img {
  -webkit-transition: all linear .5s;
  transition: all linear .5s;
}

.box .imgBox img.hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.box:hover .imgBox img.hover-img {
 opacity: 0.9;
}


.box .imgBox img:hover {
  opacity: .6;
  z-index: -1;
}

.box .imgBox img:hover.hover-img {
  opacity: .5;
  z-index: 2;
}

.box .blueBox::before {
  background: rgb(54, 93, 159,.9);
}




.box:hover .imgBox::before {
  opacity: 1;
}

#myBtnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 30px;
}

@media screen and (max-width: 1199px) {
  .box .content h1, .box .content .h1 {
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 0;
  }
  .box .content span {
    font-size: 18px;
  }
  .projectsPage .card-text h1, .projectsPage .card-text .h1 {
    font-size: 25px;
    line-height: 35px;
  }
  .projectsPage .card-text span {
    font-size: 20px;
  }
}

@media screen and (max-width: 991px) {
  .box .content h1, .box .content .h1 {
    font-size: 35px;
    line-height: 40px;
  }
  .box .content span {
    font-size: 25px;
  }
  .projectsPage {
    margin: 200px 0px 100px;
  }
}

@media screen and (max-width: 575px) {
  .box .content h1, .box .content .h1 {
    font-size: 20px;
    line-height: 25px;
  }
  .box .content span {
    font-size: 16px;
  }
  .box .content {
    padding: 20px 20px;
  }
  .projectsPage .card-text h1, .projectsPage .card-text .h1 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0;
  }
  .projectsPage .card-text span {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .box .content h1, .box .content .h1 {
    font-size: 18px;
    line-height: 20px;
  }
  .box .content span {
    font-size: 14px;
  }
  .box .content {
    padding: 10px 10px;
  }
  .projectsPage .card-text h1, .projectsPage .card-text .h1 {
    font-size: 18px;
    line-height: 20px;
  }
}

/* clear fix */
.projectsPage .grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */
.projectsPage .grid-sizer, .projectsPage .grid-item {
  width: 25%;
}

.projectsPage .grid-item {
  float: left;
  overflow: hidden;
}

.projectsPage .grid-item img {
  display: block;
  max-width: 100%;
}

.button-group ul {
  background: transparent;
  margin-bottom: 200px;
}

.button-group li {
  display: inline-block;
  margin: 5px 10px;
}

.button-group li a {
  color: black;
  font-size: var(--robotoSlab-font);
  font-weight: 400;
  font-size: 25px;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 2s ease 0;
  transition: all 2s ease 0;
}

.is-checked::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #000;
}

@media (max-width: 991px) {
  .projectsPage .grid-sizer, .projectsPage .grid-item {
    width: 33.3%;
  }
  .button-group ul {
    margin-bottom: 100px;
  }
  .button-group li a {
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  .projectsPage .grid-sizer, .projectsPage .grid-item {
    width: 50%;
  }
}

.footer {
  background: #231F20;
  padding: 80px 100px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 14px;
  position: absolute;
  width: 100%;
}

.footer .contactFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .contactFooter a {
  color: var(--green-color);
  text-decoration: none;
  margin-right: 20px;
}

.footer .copyright {
  color: #fff;
}

.footer .copyright a {
  color: currentColor;
}

@media (max-width: 575px) {
  .footer {
    padding: 60px 30px;
  }
}

.projectsdetailsPage {
  margin: 280px 0px 100px;
}

.projectsdetailsPage .grid-sizer, .projectsdetailsPage .grid-item {
  width: 50%;
}

.projectsdetailsPage .card .card-body {
  padding: 1.25rem 1.25rem 0rem 0rem;
}

.projectsdetailsPage .projectCategories {
  margin-top: 100px;
}

.projectsdetailsPage .projectsTextBox p {
  width: 60%;
  font-family: 'NeutraText';
  font-size: 22px;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  text-align: justify;
  line-height: 30px;
}

.projectsdetailsPage .projectTextInfo span {
  font-family: 'NeutraTextBook';
  font-size: 20px;
  line-height: 30px;
}

.projectsdetailsPage .projectTextInfo p {
  font-family: 'NeutraText';
  font-size: 20px;
  line-height: 30px;
}

.projectButtons a {
  font-size: var(--robotoSlab-font);
  font-weight: 400;
  color: var(--grey-color);
  font-size: 25px;
}

.projectButtons .prevBtn.cool-link::after, .projectButtons .projectBtn.cool-link::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  margin-top: 10px;
  background: var(--black-color);
  -webkit-transition: width .8s ease;
  transition: width .8s ease;
}

.projectButtons .nextBtn.cool-link::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  margin-top: 10px;
  background: var(--green-color);
  -webkit-transition: width .8s ease;
  transition: width .8s ease;
}

.projectButtons .prevBtn.cool-link:hover::after, .projectButtons .nextBtn.cool-link:hover::after,
.projectButtons .projectBtn.cool-link:hover::after {
  width: 100%;
}

@media (max-width: 1199px) {
  .projectsdetailsPage .card .card-body {
    padding: .25rem .25rem 0rem 0rem;
  }
}

@media (max-width: 991px) {
  .projectsdetailsPage {
    margin: 200px 0px 100px;
  }
  .projectsdetailsPage .projectsTextBox p {
    width: 80%;
    font-family: 'NeutraText';
    font-size: 20px;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    text-align: justify;
    line-height: 25px;
  }
}

@media (max-width: 575px) {
  .projectsdetailsPage .grid-sizer, .projectsdetailsPage .grid-item {
    width: 100%;
  }
  .projectsPage .card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 480px) {
  .projectsdetailsPage .projectButtons a {
    font-size: 20px;
  }
}

@media (max-width: 320px) {
  .projectsdetailsPage .projectButtons a {
    font-size: 16px;
  }
}

.contactPage {
  margin: 280px 0px 100px;
}

.contactPage h1 {
  font-family: var(--robotoSlab-font);
  color: var(--green-color);
  margin-bottom: 80px;
}

.contactPage .contactDetails p {
  font-family: 'NeutraText';
  color: #000;
  font-size: 25px;
}

.contactPage .contactDetails .contactName {
  font-family: 'NeutraTextBook';
  color: var(--grey-color);
  font-size: 32px;
}

.contactPage .contactDetails .contactCall {
  font-family: 'NeutraTextBook';
  color: var(--green-color);
  font-size: 30px;
}

.contactPage .contactDetails .contactCall span {
  display: block;
  color: var(--black-color);
  font-size: 20px;
}

.contactPage .contactDetails .contactMail {
  font-family: 'NeutraTextBook';
  color: var(--green-color);
  font-size: 30px;
}

.contactPage .contactDetails .contactMail a {
  font-family: 'NeutraText';
  display: block;
  color: var(--black-color);
  font-size: 20px;
}

/* FORM */
.form-control {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 100;
  color: var(--grey-color);
  background: rgba(110, 205, 178, 0.2);
  font-family: var(--NeutraText-font);
  border-radius: 0px;
  height: 40px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control:focus {
  border: var(--green-color) solid 1px;
  box-shadow: none;
  -webkit-box-shadow: none;
}

textarea.form-control {
  height: auto;
}

.submit {
  border: var(--green-color) solid 1px;
  border-radius: 30px;
  background: none;
  height: 58px;
  width: 58px;
  margin-top: 10px;
}

.asterisk {
  font-family: var(--robotoSlab-font);
  color: var(--black-color);
  font-size: 14px;
  font-weight: 400;
}

.agree {
  font-family: var(--robotoSlab-font);
  color: var(--black-color);
  font-size: 14px;
  font-weight: 400;
  display: inline;
}

.agree a {
  display: inline-block;
  color: var(--black-color);
}

.form-agree .input-validation-error {
  outline: 2px auto red;
  outline-offset: -2px;
}

label {
  font-family: var(--NeutraText-font);
  margin-left: 30px;
  font-size: 20px;
}

label:last-of-type {
  margin-left: 10px;
}

label.required:after {
  content: " *";
  color: #6ecdb2;
}

/*END FORM*/
.ContactMap h2 {
  font-family: var(--robotoSlab-font);
  color: #6ecdb2;
}

#map {
  height: 500px;
  width: 100%;
}

@media (max-width: 991px) {
  .contactPage {
    margin: 200px 0px 100px;
  }
}

/* clear fix */
.aboutPage .grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */
.aboutPage .grid-sizer, .aboutPage .grid-item {
  width: 50%;
}

.aboutPage .grid-item {
  float: left;
  overflow: hidden;
}

.aboutPage .grid-item img {
  display: block;
  max-width: 100%;
}

.greenBg {
  background: var(--green-color);
  height: 100vh;
}

.greenBg .menu-wrap .menu > div {
  background: #fff;
}

.greenBg .navbar .nav-item .nav-link {
  color: #fff;
}

.greenBg .menu-wrap .menu > div > div > ul > li {
  color: var(--green-color);
}

.greenBg .navbar.active .nav-item .nav-link {
  color: var(--green-color);
}

.greenBg .languagesDrop .langButton {
  color: #fff;
}

.greenBg .languagesDrop .dropdown-item {
  color: #fff;
}

.greenBg .mobileMenu.active .languagesDrop .langButton {
  color: #000;
}

.greenBg .navbar.active .languagesDrop .langButton {
  color: var(--black-color);
}

.greenBg .navbar.active .languagesDrop .dropdown-item {
  color: var(--black-color);
}

.greenBg .welcomeText {
  margin-top: 0px;
  padding-top: 350px;
}

.greenBg .welcomeText p {
  color: #fff;
}

@media screen and (max-width: 480px) {
  .greenBg .welcomeText {
    margin-top: 0px;
    padding-top: 250px;
  }
  .greenBg .welcomeText p {
    color: #fff;
  }
}

.aboutPageText {
  margin: 200px 0px;
}

.aboutPageText p {
  font-family: 'NeutraTextBook';
  font-size: 30px;
  line-height: 40px;
  padding: 0 20px;
}

@media screen and (max-width: 991px) {
  .aboutPageText {
    margin: 100px 0px;
  }
}

@media screen and (max-width: 575px) {
  .aboutPageText p {
    font-size: 25px;
    line-height: 35px;
  }
}
/*# sourceMappingURL=style.css.map */




/* IMAGE HOVER EFFECT  */

.box:hover {
  z-index: 1;
}

.box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 40px 40px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  visibility: hidden;

}

.box:hover .content {
  visibility: visible;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  z-index: 10;
}

.box:hover img {
  opacity: .5;
}

.box .content .h1{
  font-size: 35px;
  line-height: 38px;
  margin-bottom: 0;
}


.box .content span {
  font-family: 'NeutraText';
  font-size: 30px;
  color: var(--grey-color);
}

.box .imgBox::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  mix-blend-mode: multiply;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.box .imgBox img {
  -webkit-transition: all linear .5s;
  transition: all linear .5s;
}

.box .imgBox img.hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.box:hover .imgBox img.hover-img {
 opacity: 0.9;
}


.box .imgBox img:hover {
  opacity: .6;
  z-index: -1;
}

.box .imgBox img:hover.hover-img {
  opacity: .5;
  z-index: 2;
}

.box .blueBox::before {
  background: rgb(54, 93, 159,.9);
}

.box:hover .imgBox::before {
  opacity: 1;
}


@media screen and (max-width: 1199px) and (min-width: 992px){
  .box .content {
    padding: 10px 20px 30px;
  }
  .box .content .h1 {
    font-size: 26px;
    line-height: 30px;
  }
  .box .content span {
    font-size: 20px;
  }
}


@media screen and (max-width: 480px){
  .box .content {
    padding: 10px 20px 30px;
  }
  .box .content .h1 {
    font-size: 26px;
    line-height: 30px;
  }
  .box .content span {
    font-size: 20px;
  }
}